header {
    background-color: skyblue;
    text-align: center;
    padding: 0.5rem;
}

header span {
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
}

.forecastCard {
    background-color: skyblue !important;
    max-width: 11rem;
}

#weatherCurrentCard,
#weatherForecastTitle {
    width: fit-content;
    margin: 0.5rem;
}

#weatherForecastCard {
    margin: 0.3rem;
}

#weatherForecastCard .col {
    padding-left: 0.1rem;
    padding-right: 0.1rem;
}

.weather-span,
.card-text {
    display: block;
}

#cityUlCard {
    max-width: 18rem;
}

#citySearchName {
    /* margin: 0.1rem; */
    padding: 0.4rem;
}

.lowUV {
    background-color: lightblue;
}

.moderateUV {
    background-color: yellow;
}

.highUV {
    background-color: orange;
}

.veryHighUV {
    background-color: red;
}